:root {
	--header-background: rgba(236, 236, 236, 1);
	--footer-text: rgba(255, 255, 255, 0.6);
	--footer-background: rgba(47, 48, 58, 1);
	--brand-color: rgba(33, 150, 243, 1);
	--about-us: rgba(255, 255, 255, 1);
	--team-background: rgba(245, 244, 250, 1);
	--secondary-color: rgba(117, 117, 117, 1);
	--accent-color: rgba(0, 0, 0, 1);
	--titles-color: rgba(33, 33, 33, 1);
	--item-border: rgba(238, 238, 238, 1);
	--hero-overlay: rgba(47, 48, 58, 0.4);
	--icon-color: rgba(175, 177, 184, 1);
	--main-font: 'Roboto', sans-serif;
	--secondary-font: 'Raleway', sans-serif;
}

* {
	box-sizing: border-box;
}

body {
	font-family: var(--main-font);
	background-color: var(--about-us);
	letter-spacing: 0.03em;
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

.title {
	padding-bottom: 50px;
	font-size: 36px;
	color: var(--titles-color);
	text-align: center;
	font-weight: 700;
}

.animation {
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 200ms;
	transition-property: color, background-color, fill, box-shadow, opacity;
}

.header .animation {
	transition-duration: 300ms;
}

.container {
	width: 1170px;
	margin: 0 auto;
}

.header-container {
	justify-content: space-between;
	display: flex;
	align-items: center;
}

.header {
	padding-bottom: 25px;
	border-bottom-color: var(--item-border);
	background-color: var(--about-us);
	padding-top: 24px;
}

.header-wrapper {
	justify-content: space-between;
	gap: 93px;
	display: flex;
	align-items: center;
}

.header-logo {
	color: var(--brand-color);
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
}

.header-logo-span {
	color: var(--accent-color);
}

.header-link:hover,
.header-navigation-link:hover {
	color: var(--brand-color);
}

.header-navigation-link {
	font-weight: 500;
	display: flex;
	font-size: 14px;
	letter-spacing: 0.02em;
	align-items: center;
	color: var(--titles-color);
}

.header-list,
.header-navigation-list {
	display: flex;
	gap: 50px;
}

.current-page,
.portfolio-current-page {
	color: var(--brand-color);
	position: relative;
}

.current-page:hover::after {
	border-radius: 2px;
	top: 43px;
	width: 48px;
	background-color: var(--brand-color);
	height: 4px;
	content: '';
	position: absolute;
	display: inline-block;
	left: 0;
}
.portfolio-current-page:hover::after {
	width: 78px;
	height: 4px;
	display: inline-block;
	content: '';
	position: absolute;
	border-radius: 2px;
	background-color: var(--brand-color);
	left: 0;
	top: 43px;
}

.header-icon {
	fill: var(--secondary-color);
	width: 16px;
	height: 12px;
}

.header-icon:nth-child(2) {
	width: 10px;
	height: 16px;
}

.header-link:hover .header-icon {
	fill: var(--brand-color);
}

.header-link:hover {
	color: var(--brand-color);
}

.header-link {
	font-weight: 500;
	display: flex;
	font-size: 14px;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
	gap: 10px;
}
.hero {
	padding-bottom: 200px;
	background: linear-gradient(
			to right,
			var(--hero-overlay),
			var(--hero-overlay)
		),
		url(../images/main-page/hero-bg.jpg) center / cover no-repeat;
	padding-top: 200px;
}

.hero-container {
	text-align: center;
}

.hero-title {
	line-height: 60px;
	text-transform: uppercase;
	color: var(--about-us);
	font-weight: 900;
	padding-bottom: 30px;
	font-size: 44px;
	letter-spacing: 0.06em;
}

.hero-button {
	padding: 10px 32px;
	background-color: var(--brand-color);
	color: var(--about-us);
	border-width: 0;
	border-radius: 4px;
	font-weight: 700;
	letter-spacing: 0.06em;
	line-height: 30px;
	font-size: 16px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	font-family: var(--main-font);
}

.backdrop {
	opacity: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background-color: rgba(0, 0, 0, 0.2);
	transition: transform 1000ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
		opacity 1000ms ease;
}

.backdrop.is-hidden {
	opacity: 0;
	pointer-events: none;
}

.no-scroll {
	overflow: hidden;
}

.modal {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 528px;
	height: 581px;
	padding: 40px;
	background-color: var(--about-us);
	transform: translate(-50%, -50%) scale(1);
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14);
	border-radius: 4px;
}

.modal-close-button {
	width: 30px;
	height: 30px;
	position: absolute;
	bottom: 543px;
	left: 490px;
	background-color: transparent;
	padding: 6px;
	border-radius: 100%;
	border: 1px solid rgba(0, 0, 0, 0.1);
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.modal-close-icon {
	width: 100%;
	height: 100%;
	transition: fill 0.3s ease;
}

.modal-close-button:hover .modal-close-icon {
	fill: var(--brand-color);
}

.modal-title {
	font-size: 20px;
	padding-bottom: 12px;
	position: relative;
	line-height: 30px;
}

.modal-form {
	padding-bottom: 20px;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.modal-label {
	display: flex;
	flex-direction: column;
	gap: 4px;
	color: var(--secondary-color);
	text-align: left;
	font-size: 12px;
	letter-spacing: 0.01em;
}

.modal-input {
	position: relative;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	height: 40px;
	padding-left: 30px;
	width: 100%;
}

.modal-input:focus {
	border-color: var(--brand-color);
}

.modal-input:focus + .modal-input-icon {
	fill: var(--brand-color);
}

.modal-input-wrapper {
	position: relative;
	display: flex;
	align-items: center;
}

.modal-input-icon {
	position: absolute;
	left: 8px;
	width: 18px;
	height: 18px;
	pointer-events: none;
}

.modal-textarea {
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	padding: 12px 16px;
	width: 448px;
	height: 120px;
	resize: none;
}

.modal-textarea::placeholder {
	color: rgba(117, 117, 117, 0.5);
	letter-spacing: 0.01em;
	font-size: 12px;
}

.modal-textarea:focus {
	border-color: var(--brand-color);
}

.modal-wrapper {
	display: flex;
	gap: 7px;
	justify-content: center;
}

.modal-checkbox {
	border: 2px solid var(--titles-color);
	padding: 4px 2px 3px 3px;
	background-color: var(--brand-color);
}

.modal-description {
	font-size: 14px;
	line-height: 23px;
	color: var(--secondary-color);
}

.modal-link {
	color: var(--brand-color);
	text-decoration: underline;
}

.modal-button {
	margin-top: 30px;
	background-color: var(--brand-color);
	border-radius: 4px;
	border: 0;
	padding: 10px 52px;
	color: var(--about-us);
	font-size: 16px;
	line-height: 30px;
	letter-spacing: 0.06em;
	font-weight: 700;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	font-family: var(--main-font);
}

.is-hidden .modal {
	transform: translate(-50%, -50%) scale(0);
	transition: transform 1000ms cubic-bezier(0.68, -0.55, 0.27, 1.55),
		opacity 1000ms ease;
}

.details {
	padding-top: 94px;
	padding-bottom: 94px;
}

.details-container {
	display: flex;
}

.details-list {
	display: flex;
	gap: 30px;
}

.details-title::before {
	display: block;
	background-size: 70px;
	margin-bottom: 30px;
	width: 270px;
	background-repeat: no-repeat;
	height: 120px;
	content: '';
	background-position: center;
}

.antena::before {
	background-image: url(../images/main-page/antenna.png);
	background-color: var(--team-background);
}

.astronaut::before {
	background-image: url(../images/main-page/astronaut.png);
	background-color: var(--team-background);
}

.bar-graph::before {
	background-image: url(../images/main-page/bar-graph.png);
	background-color: var(--team-background);
}

.stop-watch::before {
	background-image: url(../images/main-page/stopwatch.png);
	background-color: var(--team-background);
}

.details-title {
	color: var(--titles-color);
	font-weight: 700;

	font-size: 14px;
	text-transform: uppercase;
	padding-bottom: 10px;
}

.details-description {
	line-height: 24px;
	font-weight: 400;
	color: var(--secondary-color);
	font-size: 14px;
}

.doing {
	padding-bottom: 94px;
}

.doing-list {
	display: flex;
	gap: 30px;
}

.doing-item {
	position: relative;
}

.doing-overlay {
	justify-content: center;
	display: flex;
	height: 70px;
	position: absolute;
	width: 370px;
	top: 224px;
	align-items: center;
	background-color: rgba(47, 48, 58, 0.8);
}

.doing-description {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
	color: var(--about-us);
}

.doing-title {
	padding-bottom: 50px;
}

.doing-image {
	width: 370px;
	height: 294px;
}

.doing,
.details {
	background-color: var(--about-us);
}

.team {
	background-color: var(--team-background);
	padding-bottom: 94px;
	padding-top: 94px;
}

.team-list {
	display: flex;
	justify-content: space-between;
	gap: 30px;
}

.team-item {
	flex-direction: column;
	text-align: center;
	border-bottom-left-radius: 4px;
	display: flex;
	border-bottom-right-radius: 4px;
	border: 0;
	background-color: var(--about-us);
	box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
		0 1px 3px 0 rgba(0, 0, 0, 0.12);
	flex-wrap: wrap;
}

.team-item-image {
	width: 270px;
	height: 260px;
}

.team-item-role {
	color: var(--secondary-color);
	font-weight: 400;
	font-size: 16px;
	padding-bottom: 16px;
}

.team-item-name {
	color: var(--titles-color);
	font-size: 16px;
	font-weight: 500;
	padding-top: 30px;
	padding-bottom: 10px;
}

.team-item-list {
	padding-bottom: 30px;
	display: flex;
	gap: 10px;
	margin: 0 auto;
}

.team-item-link {
	padding: 12px;
	border-radius: 100%;
	display: block;
}

.team-icon {
	fill: var(--icon-color);
	width: 20px;
	height: 20px;
}

.team-item-link:hover {
	background-color: var(--brand-color);
}

.team-item-link:hover .team-icon {
	fill: var(--about-us);
}

.our-clients {
	padding-top: 94px;
	padding-bottom: 94px;
}

.our-clients-title {
	padding-bottom: 50px;
}

.our-clients-list {
	display: flex;
	gap: 30px;
	margin: 0 auto;
}

.our-clients-item-link {
	border-radius: 4px;
	padding: 16px 32px;
	display: block;
	border: 1px solid;
	border-color: var(--icon-color);
}

.our-clients-item-icon {
	fill: var(--icon-color);
	width: 100px;
	height: 60px;
}

.our-clients-item-link:hover {
	border-color: var(--brand-color);
}

.our-clients-item-link:hover .our-clients-item-icon {
	fill: var(--brand-color);
}

.footer {
	background-color: var(--footer-background);
	padding-top: 60px;
	padding-bottom: 60px;
}

.left-part-footer-wrapper {
	display: flex;
	gap: 70px;
}

.footer-container {
	display: flex;
	gap: 93px;
}

.footer-logo {
	color: var(--brand-color);
	font-family: var(--secondary-font);
	font-weight: 700;
	font-size: 26px;
}

.footer-logo-span {
	color: var(--about-us);
	font-family: var(--secondary-font);

	font-weight: 700;
	font-size: 26px;
}

.footer-address {
	padding-top: 20px;
}

.footer-address-list {
	display: flex;
	flex-direction: column;
	text-decoration: none;
	gap: 9px;
}

.footer-address-item {
	color: var(--about-us);
	font-size: 14px;
	font-weight: 400;
	line-height: 21px;
}

.footer-address-link {
	color: var(--footer-text);
	font-size: 14px;
	line-height: 24px;
	font-weight: 400;
}

.footer-wrapper {
	padding-top: 12px;
}

.footer-list-title {
	color: var(--about-us);
	font-size: 14px;
	font-weight: 700;
	padding-bottom: 20px;
}

.footer-list {
	display: flex;
	gap: 10px;
}

.footer-link {
	padding: 12px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 100%;
	display: block;
}

.footer-icon {
	fill: var(--about-us);
	height: 20px;
	width: 20px;
}

.footer-link:hover {
	background-color: var(--brand-color);
}

.footer-link:hover .footer-icon {
	fill: var(--about-us);
}

.footer-form-wrapper {
	padding-top: 12px;
}

.footer-form-title {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
	color: var(--about-us);
	padding-bottom: 20px;
}

.footer-form {
	display: flex;
	gap: 12px;
}

.footer-form-input {
	background-color: transparent;
	width: 358px;
	border-radius: 4px;
	padding: 15px 16px;
	border-color: rgba(255, 255, 255, 0.3) !important;
	border: 1px solid;
}

.footer-form-input::placeholder {
	color: rgba(255, 255, 255, 0.6);
	font-size: 16px;
	line-height: 20px;
	letter-spacing: 0.03px;
}

.footer-form-button {
	font-family: var(--main-font);
	display: flex;
	padding: 10px 28px;
	letter-spacing: 0.06em;
	align-items: center;
	color: var(--about-us);
	font-size: 16px;
	box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
	font-weight: 700;
	gap: 10px;
	line-height: 30px;
	background-color: var(--brand-color);
	border-radius: 4px;
	border: 0;
}

.footer-form-button-icon {
	fill: var(--about-us);
	width: 24px;
	height: 24px;
}

.category {
	padding-top: 94px;
	padding-bottom: 50px;
}

.category-list {
	display: flex;
	justify-content: center;
	gap: 8px;
}

.category-button {
	line-height: 26px;
	color: var(--titles-color);
	font-family: var(--main-font);
	padding: 6px 22px;
	text-align: center;
	border-radius: 4px;
	background-color: var(--team-background);
	font-weight: 500;
	border-width: 0;
	font-size: 16px;
}

.category-button:hover {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08);
	color: var(--about-us);
	background-color: var(--brand-color);
}

.portfolio {
	padding-bottom: 94px;
}

.portfolio-list {
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 30px;
}

.portfolio-item {
	position: relative;
	background-color: var(--about-us);
	flex-basis: calc((100% - 60px) / 3);
	text-align: start;
}

.portfolio-item:hover {
	box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06);
}

.overlay-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 370px;
	height: 294px;
	overflow: hidden;
}

.portfolio-overlay {
	transform: translateY(100%);
	transition-duration: 0.3s;
	opacity: 0;
	padding: 63px 24px;
	background-image: linear-gradient(
		to top,
		rgba(33, 150, 243, 0.9),
		rgba(33, 150, 243, 0.9)
	);
	transition-property: transform;
	transition-timing-function: linear;
	position: absolute;
}

.portfolio-description {
	color: var(--about-us);
	font-size: 18px;
	line-height: 28px;
}

.portfolio-item:hover .portfolio-overlay {
	opacity: 1;
	transform: translateY(0%);
}

.portfolio-title {
	padding-left: 24px;
	font-weight: 700;
	letter-spacing: 0.06em;
	color: var(--titles-color);
	padding-top: 20px;
	font-size: 18px;
	line-height: 36px;
}

.portfolio-subtitle {
	padding-bottom: 20px;
	padding-left: 24px;
	font-weight: 400;
	font-size: 16px;
	color: var(--secondary-color);
	line-height: 30px;
	padding-top: 4px;
}

.portfolio-item-container {
	border: 1px solid;
	border-color: var(--item-border);
	border-top: 0;
}
